[include mainsail.cfg]
[include kms/helper_macros.cfg]
[include kms/kms.cfg]

[printer]
kinematics: none
max_velocity: 300  
max_accel: 12500	

[respond]
default_type: echo


[mcu]
#serial: /dev/serial/by-id/usb-Klipper_rp2040_E660D4A0A7277E36-if00 #rpi pico
serial: /dev/serial/by-id/usb-Klipper_rp2040_45503571280CF278-if00 #skr pico

[temperature_sensor mcu]
sensor_type: temperature_mcu
sensor_mcu: mcu

[mcu rpi_pico]
serial: /dev/serial/by-id/usb-Klipper_rp2040_E660D4A0A7277E36-if00 #rpi pico
#serial: /dev/serial/by-id/usb-Klipper_rp2040_45503571280CF278-if00 #skr pico

[temperature_sensor rpi_pico]
sensor_type: temperature_mcu
sensor_mcu: rpi_pico

[gcode_macro DUMP_PARAMETER]
description: Debug: Print entries of the printer object
gcode:
  {% set config = True if params.C or params.S else False %}
  {% set path = 'config'   if params.C 
           else 'settings' if params.S %}
  {% set search = params.C if params.C
             else params.S if params.S
             else params.P if params.P %}
  {% set out = [] %}
  {% for name1 in printer|sort %}
    {% if config %} ; print the searched printer.configfile[path] parameter
      {% if name1 is in ['configfile'] %}
        {% for name2 in printer[name1][path]|sort %}
          {% if name2 is in [search] %}
            {% for name3, value in printer[name1][path][name2].items()|sort %}
              {% set _dummy = out.append("printer.configfile.%s['%s'].%s = %s" % 
                          (path, name2, name3, value)) %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endif %}
    {% else %}
      {% for name2, value in printer[name1].items()|sort %} ; search for anything expext printer.configfile
        {% if search is not defined and name1 is not in ['configfile'] %} ; print all printer. parameter
          {% set _dummy = out.append("printer['%s'].%s = %s" % (name1, name2, value)) %}
        {% elif search is defined and name1 is in [search] %} ; print the searched printer. parameter
          {% set _dummy = out.append("printer['%s'].%s = %s" % (name1, name2, value)) %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}
  {% if out|length > 0 %}
    {action_respond_info(out|join("\n"))}
  {% else %}
    {action_respond_info("Nothing found for \"DUMP_PARAMETER %s\"" % rawparams)}
  {% endif %}