[gcode_macro _kms_led_vars]
variable_kms_tools_idx: {
    'T0': '1',
    'T1': '2',
    'T2': '3',
    'T3': '4',
  }

variable_kms_colors: { # Colors for logo states
    'busy': {'r': 0.4, 'g': 0.0, 'b': 0.0, 'w': 0.0},
    'cleaning': {'r': 0.0, 'g': 0.02, 'b': 0.5, 'w': 0.0},
    'calibrating_z': {'r': 0.8, 'g': 0., 'b': 0.35, 'w': 0.0},
    'heating': {'r': 0.3, 'g': 0.18, 'b': 0.0, 'w': 0.0},
    'homing': {'r': 0.0, 'g': 0.6, 'b': 0.2, 'w': 0.0},
    'leveling': {'r': 0.5, 'g': 0.1, 'b': 0.4, 'w': 0.0},
    'meshing': {'r': 0.2, 'g': 1.0, 'b': 0.0, 'w': 0.0},
    'off': {'r': 0.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
    'printing': {'r': 0.0, 'g': 1.0, 'b': 0.0, 'w': 0.0},
    'standby': {'r': 0.0, 'g': 1.0, 'b': 0.0, 'w': 0.0},
    'red': {'r': 0.4, 'g': 0.0, 'b': 0.0, 'w': 0.0},
    'orange': {'r': 0.3, 'g': 0.18, 'b': 0.0, 'w': 0.0},
    'green': {'r': 0.0, 'g': 1.0, 'b': 0.0, 'w': 0.0},
    'blue': {'r': 0.0, 'g': 0.0, 'b': 0.5, 'w': 0.0},
    'white': {'r': 1.0, 'g': 1.0, 'b': 1.0, 'w': 0.0},
    'yellow': {'r': 0.4, 'g': 0.4, 'b': 0.0, 'w': 0.0},
    'purple': {'r': 0.8, 'g': 0., 'b': 0.35, 'w': 0.0},
  }

variable_colors: {
        'logo': { # Colors for logo states
            'busy': {'r': 0.4, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'cleaning': {'r': 0.0, 'g': 0.02, 'b': 0.5, 'w': 0.0},
            'calibrating_z': {'r': 0.8, 'g': 0., 'b': 0.35, 'w': 0.0},
            'heating': {'r': 0.3, 'g': 0.18, 'b': 0.0, 'w': 0.0},
            'homing': {'r': 0.0, 'g': 0.6, 'b': 0.2, 'w': 0.0},
            'leveling': {'r': 0.5, 'g': 0.1, 'b': 0.4, 'w': 0.0},
            'meshing': {'r': 0.2, 'g': 1.0, 'b': 0.0, 'w': 0.0},
            'off': {'r': 0.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'printing': {'r': 0.0, 'g': 1.0, 'b': 0.0, 'w': 0.0},
            'standby': {'r': 0.0, 'g': 1.0, 'b': 0.0, 'w': 0.0},
            'red': {'r': 0.4, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'orange': {'r': 0.3, 'g': 0.18, 'b': 0.0, 'w': 0.0},
            'green': {'r': 0.0, 'g': 1.0, 'b': 0.0, 'w': 0.0},
            'blue': {'r': 0.0, 'g': 0.0, 'b': 0.5, 'w': 0.0},
            'white': {'r': 1.0, 'g': 1.0, 'b': 1.0, 'w': 0.0},
            'yellow': {'r': 0.4, 'g': 0.4, 'b': 0.0, 'w': 0.0},
            'purple': {'r': 0.8, 'g': 0., 'b': 0.35, 'w': 0.0},
        },
        'nozzle': { # Colors for nozzle states
            'heating': {'r': 0.8, 'g': 0.35, 'b': 0.0, 'w':0.0},
            'off': {'r': 0.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'on': {'r': 0.8, 'g': 0.8, 'b': 0.8, 'w':1.0},
            'standby': {'r': 0.8, 'g': 0.8, 'b': 0.8, 'w':0.8},
        },
        'thermal': {
            'hot': {'r': 1.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'cold': {'r': 0.3, 'g': 0.0, 'b': 0.3, 'w': 0.0}
        }
    }

variable_kms_led_name:          "_kms_leds" 
variable_logo_led_name:         "_kms_leds" 
# The name of the addressable LED chain that contains the logo LED(s)
variable_logo_idx:              "1" 
# A comma-separated list of indexes LEDs in the logo
variable_nozzle_led_name:       "_kms_leds"
# The name of the addressable LED chain that contains the nozzle LED(s). This will
# typically be the same LED chain as the logo.
variable_nozzle_idx:            "2,3"
variable__kms_leds_idx:         "1,2,3,4"
# A comma-separated list of indexes of LEDs in the nozzle
gcode:
    # This section is required.  Do Not Delete.


[gcode_macro _set_kms_leds]
gcode:
    {% set red = params.RED|default(0)|float %}
    {% set green = params.GREEN|default(0)|float %}
    {% set blue = params.BLUE|default(0)|float %}
    {% set white = params.WHITE|default(0)|float %}
    {% set led = params.LED|string %}
    {% set idx = (params.IDX|string).split(',') %}
    {% set transmit_last = params.TRANSMIT|default(1) %}

    {% for led_index in idx %}
        {% set transmit=transmit_last if loop.last else 0 %}
        set_led led={led} red={red} green={green} blue={blue} white={white} index={led_index} transmit={transmit}
    {% endfor %}

[gcode_macro _set_kms_leds_status_by_tool]
gcode:
    {% set tool_name = params.TOOL %}
    {% set color_name = params.COLOR %}
    {% set color = printer["gcode_macro _kms_led_vars"].kms_colors[color_name] %}
    {% set led = printer["gcode_macro _kms_led_vars"].kms_led_name %}
    {% set idx = printer["gcode_macro _kms_led_vars"].kms_tools_idx[tool_name] %}
    {% set transmit = params.TRANSMIT|default(1)|int %}

    # { action_respond_info("tool_name: %s
    #             color_name: %s
    #             color: %s
    #             idx: %s
    #             transmit  : %d" % 
    #             (tool_name, color_name, color, idx, transmit)) }

    _set_kms_leds led={led} red={color.r} green={color.g} blue={color.b} white={color.w} idx="{idx}" transmit={transmit}

[gcode_macro _set_kms_leds_status]
gcode:
    {% set leds_name = params.LEDS %}
    {% set color_name = params.COLOR %}
    {% set color = printer["gcode_macro _kms_led_vars"].kms_colors[color_name] %}
    {% set transmit = params.TRANSMIT|default(1)|int %}

    # { action_respond_info("tool_name: %s
    #             color_name: %s
    #             color: %s
    #             idx: %s
    #             transmit  : %d" % 
    #             (tool_name, color_name, color, idx, transmit)) }

      set_led led={leds_name} red={color.r} green={color.g} blue={color.b} white={color.w} transmit={transmit}

[gcode_macro _set_kms_leds_by_name]
gcode:
    {% set leds_name = params.LEDS %}
    {% set color_name = params.COLOR %}
    {% set color = printer["gcode_macro _kms_led_vars"].colors[leds_name][color_name] %}
    {% set led = printer["gcode_macro _kms_led_vars"][leds_name + "_led_name"] %}
    {% set idx = printer["gcode_macro _kms_led_vars"][leds_name + "_idx"] %}
    {% set transmit = params.TRANSMIT|default(1) %}

    _set_kms_leds led={led} red={color.r} green={color.g} blue={color.b} white={color.w} idx="{idx}" transmit={transmit}

[gcode_macro _kms_tool_status_ready]
gcode:
    {% set tool_name = params.TOOL %}
    _set_kms_leds_status_by_tool tool={tool_name} leds="kms" color="green" transmit=1

[gcode_macro _kms_tool_status_loading]
gcode:
    {% set tool_name = params.TOOL %}
    _set_kms_leds_status_by_tool tool={tool_name}  leds="kms" color="blue" transmit=1

[gcode_macro _kms_tool_status_retracting]
gcode:
    {% set tool_name = params.TOOL %}
    _set_kms_leds_status_by_tool tool={tool_name}  leds="kms" color="orange" transmit=1

[gcode_macro _kms_tool_status_free]
gcode:
    {% set tool_name = params.TOOL %}
    _set_kms_leds_status_by_tool tool={tool_name}  leds="kms" color="purple" transmit=1

[gcode_macro _kms_tool_status_error]
gcode:
    {% set tool_name = params.TOOL %}
    _set_kms_leds_status_by_tool tool={tool_name}  leds="kms" color="red" transmit=1

[gcode_macro status_ready]
gcode:
    _set_kms_leds_status leds="_kms_leds" color="blue" transmit=1

##  Set RGB values on boot up for each Neopixel. 
##  Index 1 = logo, Index 2 and 3 = nozzle
[delayed_gcode set_sb_leds_on_boot]
initial_duration: 1
gcode:
        # flicker
        # status_ready

[gcode_macro flicker]
gcode:
    {% set LEDTimes = [10, 20, 20, 240, 20, 40, 20, 100, 20, 20, 20, 260, 80, 20, 240, 60, 160, 20, 240, 20, 1000, 20, 20, 40, 100, 20, 274, 340, 860, 20, 1400, 20, 60, 20] %}
    {% set RGB_Red = 0.2 %}
    {% set RGB_Green = 0.2 %}
    {% set RGB_Blue = 0.2 %}
    {% set RGB_Strip = "_kms_leds" %}

    {% for toggletime in LEDTimes %}
      {% set ledTime = toggletime|string %}
      {% set loopCount = loop.index %}

      {% if loopCount is divisibleby 2 %} # If the loop index is divisible by 2 (firtst index is NOT so the LEd should turn ON)
        SET_LED LED={RGB_Strip} RED={RGB_Red} GREEN={RGB_Green} BLUE={RGB_Blue}  
        G4 P{ledTime|int}
      {% else %}
        SET_LED LED={RGB_Strip}
        G4 P{ledTime|int}
      {% endif %}

    {% endfor %}

    {% for i in range(1,9) %}  # loops 1,2,3,4,5
      SET_LED LED={RGB_Strip} RED={RGB_Red+(i/10)} GREEN={RGB_Green+(i/10)}  BLUE={RGB_Blue+(i/10)} INDEX=1
      G4 P200
    {% endfor %}